@import url('https://fonts.googleapis.com/css?family=Roboto');

* {
	font-family: 'Roboto', sans-serif;
}

body{
	margin:0;
	font-size:.9rem;
	font-weight:400;
	line-height:1.6;
	color:#212529;
	text-align:left;
	background-color:#f5f8fa
}

/* INPUT NUMBER */
/* Quitar botones a input[type= number] */
.number::-webkit-inner-spin-button, 
.number::-webkit-outer-spin-button { 
  -webkit-appearance: none;
  margin: 0; 
}

.number { 
  -moz-appearance: textfield; 
}

/* Notificaciones AJAX */
.notificaciones-info{
   background: #075db2;
   color: #fff;
   padding: 10px;
   margin-right: 200px;
   font-weight: bold;
   font-family: sans-serif;
}
 
.notificaciones-info:hover{
   background: #7cbecc;
   color: #eee;
}
 
.notificaciones-error{
   background: #bd0000;
   color: #fff;
   padding: 20px;
   border: 3px solid #fff;
}
.notificaciones-error:hover{
   background: #e43633;  
}
 
.notificaciones-success{
   background: #90cd48;
   color: #fff;
   padding: 10px;
   margin-right: 50px;
   font-weight: bold;
   font-family: sans-serif;
}
.notificaciones-success:hover{
    background: #8bc53f;
}
 
#notificaciones{
    display: block;
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 9999;
}
.notificacion{
  float: right;
  clear: both;
  border: 3px solid transparent;
  cursor: pointer;
}

/* LOGIN */

.login .container-fluid {
  height: 100vh;
}

.login .shadow {
  -webkit-box-shadow: 0px 0px 21px -2px rgba(0,0,0,0.84);
  -moz-box-shadow: 0px 0px 21px -2px rgba(0,0,0,0.84);
  box-shadow: 0px 0px 21px -2px rgba(0,0,0,0.84);
}

.custom-alto {
  height: 100vh;
}

/* RECETAS */
.stripe {
  color: white;
  background: repeating-linear-gradient(90deg,#1da1f2,#1da1f2 10px,#0580cc 10px,#0580cc 20px);
}

.container-hover {
  position: relative;
  height: auto;
  cursor: pointer;
}

.container-hover .hover {
  background-color: rgb(5, 128, 204, 0.7);
  position: absolute;
  z-index: 2;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.container-hover:hover .hover {
  opacity: 1;
}

#detalle {
  background: rgba(228,237,240,1);
  background: -webkit-linear-gradient(top, #0580cc 0%, #aad6ef 100%););
  background: -o-linear-gradient(top, #0580cc 0%, #aad6ef 100%);
  background: linear-gradient(to top, #0580cc 0%, #aad6ef 100%);
}

.hidden {
  display: none!important; 
}

.item-color {
  text-decoration: none;
}

.item-color:hover {
  text-decoration: none;
}

/* CUSTOM BOORSTRAP*/
.btn {
  padding: .1rem .75rem;
}

.btn-primary {
    background-color: #1da1f2!important;
    border-color: #1da1f2!important;
}

.border-custom {
  border-color: #dee2e6!important;
}

.table tr {
  white-space:nowrap!important;
}

.table td {
  padding: .5rem!important;
  vertical-align: middle!important;
}

.nav-tabs .nav-link {
  color: #1da1f2!important;
}

.nav-tabs .nav-link.active {
  color: #343a40!important
}